<div class="home">
	<div ng-if="!main.loggedIn">
		Not Logged In
	</div>
	<div  ng-if="main.loggedIn" class="intro">
		<h3>What’s New in the Event System (v4.1)?<br><br></h3>
		<h4>All Companies (except ADS, CDS Spain, Grupo Rey, Pingo Doce and PnP)</h4><br>
		New Invoice Redesign:  <br><br>
		We’ve improved our invoice and provided better item and division totals for our vendors.<br> 
		Some other features include:<br>
			<ul>
				<li>More professional look and feel</li>
				<li>Detailed item and division totals</li>
				<li>Invoice aging including credits/debits</li>
				<li>Condensed invoice detail to reduce the number of printed pages</li>
			</ul>
		</div>
	</div>
</div>