<!--  -->
<div class ="jumbotron text-centre" >
	<div ng-if="!main.loggedIn">
	</div>
	<div  ng-if="main.loggedIn">
		<h3>What’s New in the Event System (v4.1)?<br><br></h3>
		<div class="row1">
			<h4>All Companies (except ADS, CDS Spain, Grupo Rey, Pingo Doce and PnP)</h4><br>
			New Invoice Redesign:  <br><br>
			We’ve improved our invoice and provided better item and division totals for our vendors.<br> 
			Some other features include:<br>
			<ul>
			<li>More professional look and feel</li>
			<li>Detailed item and division totals</li>
			<li>Invoice aging including credits/debits</li>
			<li>Condensed invoice detail to reduce the number of printed pages</li>
		</div>
	</div>
</div>
<div class="row" ng-if="main.loggedIn">
	<div class="col-md-3">
	</div>
	<div class="col-md-4">
		<div class="panel">
		</div>
	</div>
</div>
<style>
	h3{text-align: left;}
	.row1{text-align: left;}
	h4{text-decoration: underline;}
	ul{list-style: none;}
</style>