@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/*.mainContent{
  height: 500px;
}*/

body{
  background: #f2f2f2;
  /*border: 1px solid black;*/
  font-family: "Roboto", sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}
#main-wrapper{
  /*width: 960px;*/
  margin-left: auto; margin-right: auto;
  margin-top: 1px;
  /*border: 1px solid blue;*/
  width: 100%;
  font-family: "Roboto";
  background-color: #f2f2f2;
}
.top{
  height: 80px;
  background: #172130;
  /*background: 1px solid red;*/
}
.top{
  display: block;
}
.changeLoginLogout ul li a:hover, ul li a:focus, ul li a:visited {
    background-color: #3bc696; 
    color: white; !important;
}
.logo h3{
  float: left;
  width: 15%;
  position: all;
  color: white;
  /*border: 1px solid red;*/
}
.logo h3 a:focus, h3 a:link, h3 a:visited, h3 a:active, h3 a:hover{
  text-decoration: none;
  color: white;
}

.top h3{
  margin: 0px;
  padding-left: 15px;
  text-decoration-style: none;
  font-family: "Roboto";
}
.searchbar{
  float: left;
  width: 25%;
  position: all;
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 10%;
  height: 40px;
  border-color: #111730;
  font-family: "Roboto";
}
.searchbar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.searchbar:focus {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}
.searchbar {
  padding-left: 5px;
  color: #bbb;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
.newtop button{
  background-color: #f44242;
  border: none;
  width: 12%;
  margin-left: 1%;
  float: left;
  position: all;
  margin-top: 20px;
  border: 2px solid #f44242;
  text: white;
}
.dropdown-menu li{
  color: black;
  text-decoration-style: none;
  text-style: none;
}
.changeLoginLogout{
  float: right;
  margin-right: 3%;
  padding-top: 1%;
}
.middle{
  display: table;
  width: 100%;
  /*height: auto;*/
}
.navbar-side, .mainContent {
  display: table-cell;
  /*height: auto;*/
}
#main-content{
  background: #f2f2f2;
  float:right;
  width: 92%;
  min-height: 100%;
  /*border: 1px solid green;*/
  padding-top: 3px;
  margin-left: 0px;
}
.mainContent  ul{list-style: none;}
.aside{
  width: 8%;
  float: left;
  text-align: center;
  /*border: 1px solid green;*/
}

    .aside ol {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 150px;
      text-decoration-style: none;
    }
    .aside ol li {
        position: relative;
        background-color: #172130;
        padding: 12px;
        color: white;
        border-top: 1px solid #bdc3c7;
        border-right: 8px solid #3bc696;
        list-style-type:none;
    }
    .aside ol li:hover{
      background-color: #3bc696;
      list-style-type:none;
    }
    .aside li ol {
      position: absolute;
      left: 108%;
      top: 0;
      display: none;
      width: 150%;
    }

    .aside ol li a {
      text-decoration: none;
      color: white;
      padding: 5px;
      border-bottom: 0;
    }
    .aside ol li a:focus,ol li a:link,ol li a:visited,ol li a:active,ol li a:hover {
        color: white;
        text-decoration: none;
    }

    .aside ol li a:hover{
      color: white;
      text-decoration: none;
    }
    .aside ol {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 98%;
      border-bottom: 1px solid #ccc;
    }
    .aside li:hover ol { display: block; }

/*.chome a:hover, ul li a:focus, a:link, a:visited, a:active {
        background-color: #3bc696 !important;
        color: #97b8ed;
        text-decoration: none;
    }*/

.chome td a:focus, td a:link, td a:visited, td a:active, td a:hover{
  text-decoration: none;
  color: black;
}

footer{
  clear: both;
  background: #172130;
  height: 55px;
  color: white;
  text-align: center;
  padding: 1px;
}